<!-- <h1 id="titulo" mat-dialog-title>Dados de: {{usarname}}</h1> -->
<div mat-dialog-content id="ff">
    <mat-progress-spinner 
    color="accent"
     mode="indeterminate"
     *ngIf="user==null; else content">
    </mat-progress-spinner>

    <ng-template #content class="pai">
      <a id="nome" [href]="user?.html_url" target="_blank"><h2>{{user?.name}}</h2></a>
      

      {{user?.login}}<br>

      <img id="foto" src="{{user?.avatar_url}}" alt="Foto do Username inserido"><br><br>
            
      <p id="bio">{{user?.bio}}</p>
        
      
      <div class="seguidores">
        <mat-icon>supervisor_account </mat-icon>
        {{user?.followers}} followers ·
        {{user?.following}} following
      </div>
       
      <div class="localizacao">
        <mat-icon>room</mat-icon>
        {{user?.location}}
      </div><br>
      
      <h3>Dados dos Repositórios:</h3>
        <mat-card class="repositorios" *ngFor="let repos of repos">
          {{repos?.name}}<br>
          {{repos?.id}}
          {{repos?.description}}
          <a id="card" [href]="repos?.html_url" target="_blank"> {{repos?.html_url}}</a>
          {{repos?.stargazers_count}}
        </mat-card>
        <!-- <a [href]="user?.html_url" target="_blank"> 
            {{user?.name}}
        </a> -->
    </ng-template>

    <!-- <p *ngIf="user != null">
        {{user | json}}
    </p> -->
</div>
<!--enquanto a variavel for nula, vai ficar rodando o spinner-->
<!--precisa saber qual o nome de usuario que ele tem que pesquisar -->
<!--modulo do proprio angula que permite trabalhar com http, que é o ModuloCleint, trabalha com conservables para 
fazer as requisições http-->



